body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
}

body {
    max-width: 1097px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

h1 {
    font-size: 48px;
    text-shadow: 1px 1px 1px yellow;
}

.movie {
    margin-block-start: 32px;
    background-color: white;
    padding: 48px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px lightsteelblue;
}

.heading {
    display: flex;
    flex-direction: row;
}

h2 {
    margin: 0;
    color: darkcyan;
}

.description {
    margin-block-start: 16px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}

p {
    margin: 0;
}

.release_date {
    margin-inline-start: 32px;
    margin-block-start: 8px;
}

.score {
    margin-block-start: 8px;
    margin-inline-start: 700px;
}

.release_date,
.score {
    font-weight: 700;
}


.responsible {
    display: flex;
    font-weight: 700;
    margin-block-start: 16px;
    color: midnightblue;
}

.producer {
    margin-inline-start: 32px;
}